<div class="center hero-unit">
    <h1>Submit New Orders</h1>
</div>


<p>10 Most Recent Orders<p>

<%= render 'display' %>

<%= button_to 'New Order', new_order_path, :class => "button", :method => :get %>