/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.container {
    width: 97% !important
}
input.search-query {
    color: black !important;
}
.typeahead,
.tt-query,
.tt-hint {
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}
.typeahead {
    background-color: #fff;
}
.typeahead:focus {
    border: 2px solid #0097cf;
}
.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
    color: #999;
    height: 30px;
}
.tt-dropdown-menu {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
    p {
        font-size: 18px;
    }
    ul {
        border-bottom: 2px whitesmoke solid;
        li {
            height: 25px;
            overflow-x: hidden;
        }
        li:first-child {
            width: 150px;
        }
        li:nth-child(2), li:nth-child(3), li:nth-child(4) {
            width: 35px;
        }
        li.red{
            color :#d9534f;
            width: 50px;
        }
        li.green{
            color: #5cb85c;
            width: 50px;
        }
    }
}
.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
nav form.navbar-form {
    margin-left: 15px;
    margin-right: 20px;
    .input-group {
        height: 20px;
        width: 100%;
        position: relative;
        button {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 30px;
            width: 30px;
            padding: 0;
        }
        input#menu-search {
            width: 15px;
            height: 30px;
            transition: width 0.3s ease;
            margin-right: 30px;
            &:focus {
                width: 370px;
            }
        }
    }
}
form.edit_order {
    display: inline;
}
#paid .btn,
#received .btn,
dd .btn[type="submit"] {
    width: 100%
}
dd {
    width: 150px;
}
div#paid {
    display: inline;
}
label.col-sm-1 {
    text-align: right;
}

#checkbox_button {
    input[type='checkbox'] {
        display: none;
    }
    label {
        width: 100%;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
        &:hover,
        &:focus,
        &:active,
        &.active {
            background-color: #d2322d;
            border-color: #ac2925;
        }
        &.disabled,
        &[disabled] {
            background-color: #d9534f;
            border-color: #d43f3a;
        }
        &:focus,
        &.active:focus,
        &:active:focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
        &:active,
        &.active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }
        &:before {
            content: "Owes: "
        }
       
    }
    input[type=checkbox]:checked + label {
        background-color: #5cb85c;
        border-color: #4cae4c;
         &:before {
            content: "Paid: "
        }
        &:hover, &:focus, &:active, &.active {
            background-color: #47a447;
            border-color: #398439;
        }
        &.disabled,
        &[disabled] {
            background-color: #5cb85c;
            border-color: #4cae4c;
            pointer-events: none;
            cursor: not-allowed;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
            opacity: .65;
        }
    }
}


.pagination ul {
  display: inline-block;
  padding-left: 0;
  margin: 0px 0;
  border-radius: 4px;
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination ul > li > a:hover,
.pagination ul > li > span:hover,
.pagination ul > li > a:focus,
.pagination ul > li > span:focus {
  background-color: #eeeeee;
}

.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > .active > a:hover,
.pagination ul > .active > span:hover,
.pagination ul > .active > a:focus,
.pagination ul > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > span:hover,
.pagination ul > .disabled > span:focus,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: not-allowed;
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination ul-lg > li > a,
.pagination ul-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}

.pagination ul-lg > li:first-child > a,
.pagination ul-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination ul-lg > li:last-child > a,
.pagination ul-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination ul-sm > li > a,
.pagination ul-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pagination ul-sm > li:first-child > a,
.pagination ul-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination ul-sm > li:last-child > a,
.pagination ul-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.circle{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display:inline-block;
    margin-bottom: 2px;
    &.white {
        border: 1px black solid;
    }
    &.orange {
        background: #F77713;
    }
    &.blue {
        background: blue;
    }
}